.actions-menu {
    padding: 20px 0px;
}

.actions-menu h1 {
    margin-bottom: 20px;
}

.form-row {
    padding: 10px 0px;
}

.row {
    padding-bottom: 10px;
}

.actions-menu-content {
    display: flex;
    justify-content: space-between;
  }
  
  .actions-menu-content > button.btn.btn-primary {
    height: 40px;
  }
  
  .alert {
    display: none;
  }